@rendermode InteractiveWebAssembly

@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize]

<h3>@Course.CourseName</h3>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var module in Course.Modules)
        {
            <tr>
                <td><a href="/module/@module.Id">@module.ModuleName</a></td>
                <td>@module.StartDate</td>
                <td>@module.EndDate</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int CourseId { get; set; }
    public CourseDto Course = new CourseDto();

    [Inject]
    private IApiService _apiService { get; set; } = default!;
    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Course = (await _apiService.GetAsync<CourseDto>($"api/courses/{CourseId}"));
        //var httpClient = HttpClientFactory.CreateClient("LmsAPIClient");
        //Course = await httpClient.GetFromJsonAsync<CourseDto>($"api/courses/{CourseId}");
    }
}