@rendermode InteractiveWebAssembly
@using LMS.Shared.DTOs

<div>
    <h3>CourseStudents</h3>

    @foreach (var Student in UserList)
    {
        @if (Student.CourseId == CourseId)
        { 
            @Student.Name<br>
        }
    }
</div>

@code {
    [Parameter]
    public int CourseId { get; set; }
    [Parameter]
    public List<ApplicationUserDto> UserList { get; set; }
    public CourseDto Course = new CourseDto();
}
