@rendermode InteractiveWebAssembly
@using LMS.Shared.DTOs

<div>
    <h3>CourseDescription</h3>

    <p>@course.Description</p>
</div>

@code {
    [Parameter]
    public int CourseId { get; set; }
    [Parameter]
    public CourseDto? course { get; set; }
}
