@using LMS.Shared.DTOs

<h3>CourseDescription</h3>

<p>@Course.Description</p>

@code {



    [Parameter]
    public int CourseId { get; set; }
    public CourseDto Course = new CourseDto();

    protected override async Task OnInitializedAsync()
    {
        if (Course.Id != CourseId)
        {
            Course = new CourseDto
                {
                    Id = 3,
                    Description = "Master C# for fullstack development, covering backend, frontend, databases, and best practices."
                };
        }
    }
}
