@rendermode InteractiveWebAssembly
@using LMS.Shared.DTOs

<div>
    <h3>CourseDocuments</h3>

    <ul>
    @foreach (var Document in DocsList)
    {
        @if (Document.CourseId == CourseId)
        {
            <li><a href="#">@Document.Name</a></li>
        }
    }
    </ul>
</div>

@code {
    [Parameter]
    public int CourseId { get; set; }
    [Parameter]
    public List<DocumentDto> DocsList { get; set; }
}
