@rendermode InteractiveWebAssembly
@inject NavigationManager NavigationManager

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateModuleModal">
    <i class="bi bi-bookmark-dash"></i>
</button>
<div class="modal fade" id="CreateModuleModal" tabindex="-1" aria-labelledby="CreateModuleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CreateModuleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int moduleId { get; set; }

}
