@page "/dashboard"


<head>
	 <link rel="stylesheet" href=
		"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>

<div class ="container">
	<div class ="row">

<!-- Notifications -->
	<div class ="col">
		<h4>
			<i class="bi bi-bell-fill"></i>Notifications/News
		</h4>
		<ul class ="list-group">
			<li class="list-group-item">
				<div class="ms-2 me-auto">
				<div class="fw-bold">List Item</div>
					Item desc
				</div>
			</li>
			<li class="list-group-item">
				<div class="ms-2 me-auto">
				<div class="fw-bold">List Item</div>
					Item desc
				</div>
			</li>
			<li class="list-group-item">
				<div class="ms-2 me-auto">
				<div class="fw-bold">List Item</div>
					Item desc
				</div>
			</li>
		</ul>
	</div>


<!-- Performance Chart -->
	<div class ="col-5">
		<h3 class ="text-center"> 
			Performance Chart
		</h3>
		<!-- Chart -->
	</div>


<!-- Calendar/Activities -->
	<div class ="col">
		<h4>
			<i class="bi bi-calendar-fill"></i>Calendar
		</h4>
		<iframe src="/calendar" height="700" width="400" title="calendar"></iframe>
	</div>
	</div>
</div>


<!-- Courses -->
<div>
	<h6>Courses</h6>
	<iframe src="/course/1" height="200" width ="400" title="courses"></iframe>
</div>



@code {

}
