@page "/"

<PageTitle>Home</PageTitle>

<h1 class="mb-6 text-green-600 text-center text-2xl font-semibold">LMS starter template</h1>

<p>You can use this template as a starter template or build from one from scratch!</p>
